@charset "utf-8";

/**************************************************
  Common style
**************************************************/
.ico_main{margin: -1px 0 0 0;}

input[type=checkbox].mail_chk{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	margin: 0px 4px 0 4px;
    border:1px solid #dbdbde;
    width:14px;
    height:14px;
    border-radius:0;
    outline:none;
    background:#fff;
}
input[type=checkbox].mail_chk:hover{
	border:1px solid #1185de;
    border-radius: 0px;
    background: #e4f6ff;
}
input[type=checkbox].mail_chk:checked{
    border:1px solid #1185de;
    border-radius: 0px;
    background: #e4f6ff url('../Images/ico/ico_chk_black01.png') no-repeat center center !important;
}

.input_search{text-align:left !important;}

.Pop_border .badge{display: inline-block;min-width: 55px;height: 18px;margin: 0 5px 0 0;padding: 0 6px;border-radius: 10px;font-size: 11px;color: #ffffff;letter-spacing: -0.5px;line-height: 20px;text-align: center;box-sizing: border-box;}
.Pop_border .badge.color01{background-color:#20c997;}


/**************************************************
  button
**************************************************/
.btn_register {display:inline-block;padding:3px;width:8px; height:8px;border:1px solid #c9cac9;background:#fff url("../Images/btn/btn_modi_reply.gif");background-repeat:no-repeat;vertical-align:middle;cursor:pointer;margin:0 0 0 3px;}

.controll_btn .bu_up{display:block;width:13px;height:14px;background-image:url("../Images/ico/signline_arr_up.png");background-repeat:no-repeat;}
.controll_btn .bu_down{display:block;width:13px;height:14px;background-image:url("../Images/ico/signline_arr_down.png");background-repeat:no-repeat;}


/**************************************************
  layout custom style
**************************************************/

/*--horizontal 좌측메뉴 있는구조 --*/
#horizontal {width:100%; height:100%; position:relative; top:0px !important; left:0px !important;}

/*팝업-레이아웃*/
.pop_wrap .pop_foot{position:relative ;}

/**************************************************
  mail sub nav style
**************************************************/

/*3dep cnt*/
#sub_nav li .k-in .ma_cnt,
#sub_nav li .on .k-in .ma_cnt,
#sub_nav li .k-in:hover .ma_cnt,
#sub_nav li .k-in.k-state-selected .ma_cnt{color:#058df5;margin-left:12px;}

/*3dep cnt*/
#sub_nav li .k-top + .k-group li .k-in .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in .ma_s_cnt{color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .on .k-in .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .on .k-in .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .on .k-in .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .k-in:hover .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in:hover .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in:hover .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}

#sub_nav li .k-top + .k-group li .k-in.k-state-selected .ma_s_cnt,
#sub_nav li .k-mid + .k-group li .k-in.k-state-selected .ma_s_cnt,
#sub_nav li .k-bot + .k-group li .k-in.k-state-selected .ma_s_cnt{font-weight:bold;color:#058df5;margin-left:7px;}

/*mail add list*/
#sub_nav li .k-add{position:absolute;top:17px;right:31px;font-size:11px;color:#dcdcdc;border-right:1px solid #dcdcdc;}
#sub_nav li .k-add .mail_add_list{float:left;clear:both;margin:-2px 10px 0 0;width:16px;height:14px;background:url('../Images/ico/mail_add_list_s.png') no-repeat 0px 0px;}
#sub_nav li .k-add .mail_add_list:hover{background-position:-16px 0}

/**************************************************
  mail contents style
**************************************************/

/*sub_nav mail_btn_box*/
.mail_btn_box{padding:13px 0;border-bottom:1px solid #dcdcdc;}
.mail_btn_box .btn_cen{margin:0;text-align:center;}
.mail_btn_box .btn_cen input[type="button"]{padding:0 12px;background:#1088e3;height:24px;color:#fff;border:none; font-weight:bold;}
.mail_btn_box .btn_cen input[type="button"]:hover {background:#0876c9;}
.mail_btn_box .btn_cen input[type="button"].gray_btn {background:#adadad;}
.mail_btn_box .btn_cen input[type="button"]:hover.gray_btn {background:#9d9d9d;}

/*sub_nav mail_volume_box*/
.mail_volume_box{position:absolute;left:0;right:0;bottom:0;height:33px;}
.mail_volume_box dl{overflow:hidden;margin:10px 0 0 0;padding:0 15px;}
.mail_volume_box dl dt{float:left;font-size:11px;color:#6d6d6d;}
.mail_volume_box dl dd{float:left;font-size:11px;color:#6d6d6d;}
.mail_volume_box dl dd.gauge_div{overflow:hidden;position:relative;width:100px;height:6px;margin:2px 4px 0 4px;border-radius:6px;background:#cecece;}
.mail_volume_box dl dd.gauge_div .gauge_div_in{position:absolute;top:0;left:0;height:6px;background:#2885e2;}
.mail_volume_box dl dd .now_volume{color:#0b6ab2;}
.mail_volume_box dl dd .mail_set_btn{display:block;width:13px;height:13px;margin:0 0 0 4px;background:url('../Images/ico/mail_set_btn.png') no-repeat 0px 0px;}

/*mail_search*/
.mail_search_box{position:absolute;top:13px;right:0px;}
.mail_search_box .mail_search_info{padding:6px 10px 6px 18px;font-size:11px;font-weight:normal;font-family:'돋움',Dotum;color:#8d8d8d;background:url('../Images/ico/mail_search_info.png') no-repeat left 4px;}
.mail_search_box .mail_search{text-align:left;padding-right:30px; text-indent:7px;}
.mail_search_box .btn_search{display:inline-block; border:1px solid #c3c3c3; width:24px;height:22px; background:url("../Images/btn/search_icon2.png") no-repeat 5px 3px; position:absolute; margin-left:-30px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.mail_search_box .btn_search{margin-left:-26px;}}

/*mail controll btn*/
.mail_ctrl{padding:0 0 10px 0;text-align:left;}

.mail_ctrl .right_btns {float:right;clear:both;overflow:hidden;padding:0;}
.mail_ctrl .etc_btn a {border:1px solid #cacbca;display:block;float:left;/*margin:0 2px 0 0;*/width:24px;height:22px;}
.mail_ctrl .etc_btn {float:left;overflow:hidden;}
.mail_ctrl .etc_btn a.btn_reload {background-image:url("../Images/btn/mail_btn_reload.png");background-repeat:no-repeat;}
.mail_ctrl .etc_btn a:hover {border:1px solid #1088e3;}
.mail_ctrl .etc_btn a.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 0;}
.mail_ctrl .etc_btn a:hover.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 -22px;}

.mail_ctrl .bu_up{display:block;width:13px;height:14px;background:url("../Images/ico/signline_arr_up.png")center center no-repeat !important;}
.mail_ctrl .bu_down{display:block;width:13px;height:14px;background:url("../Images/ico/signline_arr_down.png")center center no-repeat !important;}



/* 이 주석부분은 현재 contents.css(메일환경설정)에 있으므로, 주석처리됨
.mail_ctrl .layout_btn {float:left;margin:0 0 0 2px;}
.mail_ctrl .layout_btn a {margin:0 0 0 0px;position:relative;}
.mail_ctrl  .layout_btn a.btn_expand {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 0;margin:0 -1px 0 0px;}
.mail_ctrl  .layout_btn a.btn_vertical {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px 0;margin:0 0px 0 0px;}
.mail_ctrl  .layout_btn a.btn_horizontal {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px 0;margin:0 0px 0 -1px;}
.mail_ctrl  .layout_btn a.btn_expand:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 -22px;border: 1px solid #1088e3;border-width:1px 0px 1px 1px;margin:0;}
.mail_ctrl  .layout_btn a.btn_expand:hover + a.btn_vertical{border: 1px solid #1088e3;border-color:#cacbca #cacbca #cacbca #1088e3;}
.mail_ctrl  .layout_btn a.btn_vertical:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px -22px;border: 1px solid #1088e3;margin:0 0px 0 0px;}
.mail_ctrl  .layout_btn a.btn_vertical:hover + a.btn_horizontal{border: 1px solid #1088e3;border-color:#cacbca #cacbca #cacbca #1088e3;}
.mail_ctrl  .layout_btn a.btn_horizontal:hover {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px -22px;border: 1px solid #1088e3;border-width:1px 1px 1px 1px;margin:0 0px 0 -1px;}
.mail_ctrl  .layout_btn a.btn_expand.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:0 -22px;}
.mail_ctrl  .layout_btn a.btn_vertical.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-24px -22px;}
.mail_ctrl  .layout_btn a.btn_horizontal.on {background-image:url("../Images/btn/mail_layout_s.png");background-repeat:no-repeat;background-position:-48px -22px;}
*/

/*환경설정*/
.btn_register {display:inline-block;padding:4px;width: 8px;height:8px;border:1px solid #c9cac9;background:#fff url("../Images/btn/btn_modi_reply.gif") no-repeat center;vertical-align:middle;cursor:pointer;margin:0 0 0 3px;border-radius: 2px;margin-top: -2px;}
.btn_register:hover{border:1px solid #1088e3;}
.controll_btn .bu_up{display:block;width:13px;height:14px;background:url("../Images/ico/signline_arr_up.png") no-repeat;}
.controll_btn .bu_down{display:block;width:13px;height:14px;background:url("../Images/ico/signline_arr_down.png") no-repeat;}
#myMailBox .tree_icon{padding: 11px 0 0 0px;}


.tab_setting {overflow:hidden; clear:both;}
.tab_setting ul {margin-left:0px;padding: 6px 0;overflow: hidden;border: solid #dcdcdc;border-width: 0 0 1px 0;}
.tab_setting ul li {float:left;background: url(../Images/ico/ico_set_bg_bar01.png) no-repeat right center;}
.tab_setting ul li:last-child {float:left;background:transparent}
.tab_setting ul li a {color:#515967;padding:0 12px; height:32px; line-height:32px;display:block;}
.tab_setting ul li.on a {padding-left: 26px;background: url(../Images/ico/ico_chk_blue02.png) no-repeat 9px center;}
.tab_setting ul li.on a span {color: #058df5;font-weight: bold;}

/*메일검색결과*/
.result_info_box{padding:0 0 10px 0;text-align:left;font-size:12px;}
.result_info_box .match_txt{font-weight:bold;}
.result_info_box .match_cnt{font-weight:bold;color:#058df5;}

/* 메일 그리드 테이블 */
.grid-content .mail_tbl tr td{font-weight:bold;}
.grid-content tr.read td{font-weight:normal;}
.grid-content .ico_mail{float:left;width:13px;height:24px;margin:0;background:url("../Images/ico/ico_mail02.png")no-repeat center center;}/*메일 그리드테이블 신규메일아이콘*/
.grid-content .ico_mail2{float:left;width:13px;height:24px;margin:0;background:url("../Images/ico/ico_mail02_on.png")no-repeat center center;}/*메일 그리드테이블 읽은 메일아이콘*/
.grid-content .ico_read{float:left;width:13px;height:24px;margin:0;background:url("../Images/ico/ico_mail02_on.png")no-repeat center center;}/*메일 그리드테이블 읽은 메일아이콘*/
.grid-content tr.read .ico_mail{float:left;width:13px;height:24px;margin:0;background:url("../Images/ico/ico_mail02_on.png")no-repeat center center;}/*메일 그리드테이블 읽은 메일아이콘*/
.grid-content tr td .ico_clip{margin:-1px 0 0 0;}
.grid-content .mail_from_to {margin-left:6px; line-height:24px;}

/*레이아웃에 따른 그리드 영역*/
.grid_2type{border-top:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; box-sizing:border-box;}
.grid_3type{border-width:1px 0 1px 1px; border-style:solid; border-color:#dcdcdc; box-sizing:border-box;}

/*수신확인함 그리드테이블*/
.com_ta2.mail_tbl th,.com_ta2.mail_tbl td{font-size:12px;}
.com_ta2.mail_tbl tr.on:hover td {background:#e6f4ff;}
.com_ta2.mail_tbl tr td {font-weight:normal;padding-top:0px; padding-bottom:0px;height:29px;}
.com_ta2.mail_tbl tr td.chk_td input[type="button"] {height:20px;line-height:20px;margin-top:3px;}
.com_ta2.mail_tbl tr td.chk_td {}
.com_ta2.mail_tbl tr td .rec_subject {margin-left:4px;}
.com_ta2.mail_tbl tr td .badge{display: inline-block;min-width: 55px;height: 18px;margin: 0 5px 0 0;padding: 0 6px;border-radius: 10px;font-size: 11px;color: #ffffff;letter-spacing: -0.5px;line-height: 20px;text-align: center;box-sizing: border-box;}
.com_ta2.mail_tbl tr td .badge.color01{background-color:#20c997;}
.com_ta2.mail_tbl tr th {border:1px solid #dcdcdc;}
.com_ta2.mail_tbl tr td.chk_td .ico_mail {height:18px; margin-top:8px;}
.com_ta2.mail_tbl tr td.chk_td .ico_mail2 {height:13px; margin-top:5px;}
.com_ta2.mail_tbl.ova_sc2 {overflow:auto;}
.com_ta2.mail_tbl.ova_sc2 table {border-top:none;}

.com_ta2.mail_tbl table tr th {border:1px solid #dcdcdc;}
.com_ta2.mail_tbl table tr td {border:1px solid #eaeaea;}
.com_ta2.mail_tbl table tr:first-child td {border-top:none;}
.com_ta2.mail_tbl table tr:nth-child(even) td {background:#f8f8f8;}
.com_ta2.mail_tbl table tr:hover:nth-child(even) td {background:#e6f4ff;}
.com_ta2.mail_tbl table tr.on:nth-child(even) td{background:#e6f4ff;}

.grid-content .chk_td {line-height:26px;}
.grid-content .chk_td .ico_mail {height:22px;}
.grid-content tr.read .chk_td .ico_mail {height:22px;}
.grid-content .ico_human1{float:left;width:16px;height:16px;margin:0px 6px 0 0;background:url("../Images/btn/minus_btn.png")no-repeat center center;}
.grid-content .ico_human2{float:left;width:16px;height:16px;margin:0px 6px 0 0;background:url("../Images/btn/plus_btn.png")no-repeat center center;cursor:pointer;}
.grid-content tr.read .ico_human2{background:url("../Images/btn/plus_btn.png")no-repeat center center;}
.grid-content tr.uw_tr {}
.grid-content tr.uw_tr td {background: #f9f9f9;}
.grid-content tr.uw_tr:hover td {background: #f9f9f9;}
.grid-content tr.uw_tr td:first-child{padding-left:100px;}

/*20160525 메일 켄도그리드 요청사항 수정*/
.mail_grid .k-grid-content .k-alt{background-color:#fff;}
.mail_grid .k-grid-content .k-state-selected{background-color:#e7f4ff !important;border-color: #e7f4ff;}
.mail_grid .k-grid-content td{border-width:0 0 0 0;}
.mail_grid .k-grid-content td.subjectTd{cursor:pointer}

/* 메일 그리드 뷰 */
.mail_view .mail_contents_border{margin:0;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}
.view_vertical .mail_view .mail_contents_border{margin:0px 0 10px 0;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}
.view_horizontal_main .mail_view .mail_contents_border{margin:0 0 10px 10px;border: 1px solid #dcdcdc;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;overflow:hidden;}

/*메일뷰화면 컨트롤버튼*/
.mail_view_ctrl{padding:10px 20px;text-align:left;/* min-width:550px; */}
.mail_view_ctrl .right_btns {float:right;clear:both;overflow:hidden;padding:0;}
.mail_view_ctrl .right_btns a {border:1px solid #cacbca;display:block;float:left;margin:0 0 0 2px;width:24px;height:22px;}
.mail_view_ctrl .etc_btn {float:right;overflow:hidden;}
.mail_view_ctrl .etc_btn a:hover {border:1px solid #1088e3;}
.mail_view_ctrl .etc_btn a.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 0;}
.mail_view_ctrl .etc_btn a:hover.btn_print {background-image:url("../Images/btn/mail_btn_print.png");background-repeat:no-repeat;background-position:0 -22px;}


/*메일뷰화면 타이틀*/
.mail_view_tit{padding:10px 20px;border:solid #dcdcdc;border-width:1px 0;font-size:12px;color:#4a4a4a;}
.mail_view_tit .tit_box{margin:0 0 10px 0;text-align:left;overflow:hidden;}
.mail_view_tit .tit_box .send_tit{float:left;font-weight:bold;}
.mail_view_tit .tit_box .send_date{float:right;font-weight:normal;}
.mail_view_tit .sender_name{margin:0 0 2px 0;}
.mail_view_tit .recipient_name .arr{display:inline-block;margin:0 0 0 4px;width:9px;height:6px;background:url("../Images/ico/ico_btn_arr_down01.png")no-repeat;}

/*메일뷰화면 컨텐츠*/
.mail_view_con{padding:10px 20px; overflow-y:hidden;}
.file_list{font-size:11px;}
.file_list .file_list_info{margin:0 0 6px 0;}
.file_list .file_list_info .file_cnt{font-weight:bold;color:#058df5;}
.file_list .file_list_info .all_download{color:#058df5;}
.file_list .file_list_info .colRed {color:#f33e51;}
.file_list .file_list_box{margin:0 0 20px 0;padding:6px 10px;border:1px solid #dcdcdc;overflow:hidden;}
.file_list .file_list_box li{font-size:12px;padding:3px 0;position:relative;}
.file_list .file_list_box li .downloader_link{position:absolute;top:4px;right:0;padding:0;}
.file_list .file_list_box li .downloader_link li{display:inline;font-size:11px;padding:0 0 0 5px;border-left:1px solid #dcdcdc;}
.file_list .file_list_box li .downloader_link li:first-child{border:none;padding:0;}

.mail_view_con .send_contents{padding:3px 0;}

/*수신확인함 메일뷰화면 컨텐츠*/
.mail_view_con_rec{padding:10px 20px; overflow:auto;}
.mail_view_con_rec .file_list{font-size:11px;}
.mail_view_con_rec .file_list .file_list_info{margin:0 0 6px 0;}
.mail_view_con_rec .file_list .file_list_info .file_cnt{font-weight:bold;color:#058df5;}
.mail_view_con_rec .file_list .file_list_info .all_download{color:#058df5;}
.mail_view_con_rec .file_list .file_list_info .colRed {color:#f33e51;}
.mail_view_con_rec .file_list .file_list_box{margin:0 0 20px 0;padding:6px 10px;border:1px solid #dcdcdc;overflow:hidden;}
.mail_view_con_rec .file_list .file_list_box li{font-size:12px;padding:3px 0;position:relative}
.mail_view_con_rec .file_list .file_list_box li .downloader_link{position:absolute;top:4px;right:0;padding:0;}
.mail_view_con_rec .file_list .file_list_box li .downloader_link li{display:inline;font-size:11px;padding:0 0 0 5px;border-left:1px solid #dcdcdc;}
.mail_view_con_rec .file_list .file_list_box li .downloader_link li:first-child{border:none;padding:0;}

.mail_view_con .send_contents{padding:3px 0;}

/**************************************************
  mail popup style
**************************************************/

/*인쇄미리보기*/
.pop_print_preview{overflow:hidden;}

/*수신거부*/
.pop_recipient_refusal{}

/*예약발송*/
.pop_reservation_send{}
.pop_reservation_send dl{overflow:hidden;}
.pop_reservation_send dl dt{float:left;font-weight:bold;line-height:24px;}
.pop_reservation_send dl dd{float:left;}
.pop_reservation_send dl dd.ar_date{margin:0 0 0 10px;}
.pop_reservation_send dl dd.ar_txt{clear:both;padding:10px 0 0 60px;}

/*이름입력*/
.pop_name_add{}
.pop_name_add dl{overflow:hidden;}
.pop_name_add dl dt{margin:0 0 5px 0;}
.pop_name_add dl dd input{border:1px solid #c3c3c3;padding:0 5px;border-radius:0px !important;height:24px !important;}

/*그룹생성*/
.pop_group_add{}

/*업로드*/
.pop_upload_file{}
.pop_upload_file .tab_area_box{padding:15px;overflow:hidden;}
.pop_upload_file .tab_area_box dl{}
.pop_upload_file .tab_area_box dl dt{margin:0 0 5px 0;}
.pop_upload_file .tab_area_box dl dd{background: url('../Images/bg/input_txt_bg04.png') no-repeat 0 6px;padding-top:6px;padding-bottom:24px;width:382px;position:relative;}
.pop_upload_file .tab_area_box dl dd .file_size {position:absolute; bottom:4px;font-size:11px; color:#4a4a4a;}
.pop_upload_file .tab_area_box dl dd .k-upload-files {width:302px;padding:0px;}

/*이동*/
.pop_mail_move{}
.pop_mail_move .mail_move_list{border:solid #dcdcdc;border-width:1px 0;}
.pop_mail_move .mail_move_list li:first-child{border:none}
.pop_mail_move .mail_move_list li{border:solid #dcdcdc;border-width:1px 0 0 0;padding:13px 10px;}

/*주소록*/
.pop_mail_addr{}
.pop_mail_addr #tabstrip {border:none;}
.pop_mail_addr .box_left {height: 528px; border-top:2px solid #000;}
.pop_mail_addr .box_right {height:499px;}
.pop_mail_addr .box_right .listbox{padding:5px 0;max-height:452px;overflow:auto;}
.pop_mail_addr .box_right .listbox li{padding:5px 0;}

.pop_mail_addr .trans_tool {width:50px; float:left; text-align:center;}
.pop_mail_addr .trans_tool .tool_u1 {margin-top:80px;}
.pop_mail_addr .trans_tool .tool_u2 {margin-top:135px;}
.pop_mail_addr .trans_tool .tool_u3 {margin-top:120px;}
.pop_mail_addr .trans_tool ul li {margin:2px 0;}
.pop_mail_addr .trans_tool ul li a {display:block;border:1px solid #c3c3c3;  display: inline-block;}
.pop_mail_addr .trans_tool ul li a:hover {border:1px solid #1088e3;}

.pop_mail_addr .transbox{float:left;}
.pop_mail_addr .transbox .transbox_u1 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u1 .listbox{padding:10px 15px;overflow:auto;width:219px;height:148px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u1 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;}
.pop_mail_addr .transbox .transbox_u2 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u2 .listbox{padding:10px 15px;overflow:auto;width:219px;height:118px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u2 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;}
.pop_mail_addr .transbox .transbox_u3 .txt{display:block;padding:0 5px 5px 5px;}
.pop_mail_addr .transbox .transbox_u3 .listbox{padding:10px 15px;overflow:auto;width:219px;height:118px;border:1px solid #dcdcdc;}
.pop_mail_addr .transbox .transbox_u3 .listbox li{padding:5px 0;overflow:hidden;white-space:nowrap;}

/*주소록 개선*/
.pop_mail_addr.newAddr .box_left .record_tabSearch{padding:6px 15px; background:#f0f0f0;}
.pop_mail_addr.newAddr .box_right {height:529px;position: relative;}
.pop_mail_addr.newAddr .box_right .box_right_page{position: absolute;left: 0;right: 0;bottom: 1px;border:solid #dcdcdc;border-width: 0px 1px 1px 1px;box-sizing:border-box;height: 43px;padding: 8px 0;background: #fafafa;}

.pop_mail_addr.newAddr .transbox{float:left;width:283px;}
.pop_mail_addr.newAddr .transbox .transbox_u1{border:1px solid #dcdcdc;}
.pop_mail_addr.newAddr .transbox .transbox_u2{border:1px solid #dcdcdc;}
.pop_mail_addr.newAddr .transbox .transbox_u3{border:1px solid #dcdcdc;}

.tab_nor.in {margin:10px 0px 0 0px;}
.tab_nor.in ul li a {padding:0 12px;max-width:32px; min-width: auto;}
.tab_nor.in2 {margin:10px 0px 0 0px;}
.tab_nor.in2 ul li a {padding:0 12px;max-width:89px;}

.tab_nor ul li span {margin-left:0px;color:#4a4a4a;}
.tab_nor ul li.on span {margin-left:0px;color:#058df5;}


/*메일쓰기*/
.pop_mail_write{}
.pop_mail_write .btn_top .controll_btn input[type="button"]{padding:0 12px;background:#1088e3;height:24px;color:#fff;border:none;font-weight:bold;}
.pop_mail_write .btn_top .controll_btn input[type="button"]:hover {background:#0876c9;}
.pop_mail_write .btn_top .btn_top_chk {float:left;}
.pop_mail_write .btn_top .btn_top_chk ul{overflow:hidden;}
.pop_mail_write .btn_top .btn_top_chk ul li{display:inline-block;line-height:24px;}

.pop_mail_write .com_ta table{width:100%;table-layout:fixed;}/*table-layout:fixed; 허정명 추가*/
.pop_mail_write .com_ta table th,.pop_mail_write .com_ta table td {height:30px;color:#4a4a4a;border:none;}
.pop_mail_write .com_ta table th {background:#fff;font-weight:bold;text-align:right;padding:0;}
.pop_mail_write .com_ta table th span{padding-right:13px;}
.pop_mail_write .com_ta table th span.arr_up{background: url('../Images/ico/ico_btn_arr_up01.png') no-repeat right;cursor:pointer;}
.pop_mail_write .com_ta table th span.arr_up.arr_down{background: url('../Images/ico/ico_btn_arr_down01.png') no-repeat right;cursor:pointer;}
.pop_mail_write .com_ta table th span.file_toggle{display:inline-block;margin:10px 0 0 0;}

.pop_mail_write .com_ta table td {border-right:none;padding-left:13px;}
.pop_mail_write .com_ta table td input[type="text"] {height:22px;border:1px solid #c3c3c3;text-indent:7px;}
.pop_mail_write .com_ta table td input[type="text"].k-input {border:none;}
.pop_mail_write .com_ta table td li {clear:both;overflow:hidden;}
.pop_mail_write .com_ta table td li dl {float:left;}
.pop_mail_write .com_ta table td li dl dt {float:left;line-height:22px;}
.pop_mail_write .com_ta table td li dl dd {float:left;line-height:22px;}
.pop_mail_write .com_ta table td textarea {overflow-y:auto;}
.pop_mail_write .com_ta table .cen {text-align:center !important;padding:0px;}
.pop_mail_write .com_ta table .ri {text-align:right !important;}
.pop_mail_write .com_ta table .le {text-align:left !important;}

.file_add_wrap + td .file_add_trigger{float:left;}
.file_add_wrap + td .file_add_txt{font-size:11px;float:left;height:24px;line-height:28px;margin:0 0 0 5px;padding:0 0 0 25px;color:#058df5;cursor:pointer;background: url('../Images/ico/ico_file_toggle01.png') no-repeat left;}
.file_add_wrap + td .file_add_txt.disa{font-size:11px;float:left;height:24px;line-height:28px;margin:0 0 0 5px;padding:0 0 0 25px;color:#999;cursor:default;background: url('../Images/ico/ico_file_toggle01_disa.png') no-repeat left;}

.file_add_wrap + td .file_list{font-size:11px;margin:5px 0 0 0;position:relative}
.file_add_wrap + td .file_list .file_list_box{margin:5px 0 0 0;height:93px;padding:6px 10px;border:1px solid #dcdcdc;overflow:auto;}
.file_add_wrap + td .file_list .file_list_box li{font-size:12px;padding:2px 0;position:relative}
.file_add_wrap + td .file_list .file_list_box li .downloader_link{position:absolute;top:4px;right:0;padding:0;}
.file_add_wrap + td .file_list .file_list_box li .downloader_link li{display:inline;font-size:11px;padding:0 0 0 5px;border-left:1px solid #dcdcdc;}
.file_add_wrap + td .file_list .file_list_box li .downloader_link li:first-child{border:none;padding:0;}
.file_add_wrap + td .file_list #dropFileZon p{position:absolute;top:19px;left:1px;right:1px;bottom:1px;text-align:center;padding:50px 0;background-color:rgba(255,255,255,0.8);}

/*input placeholder*/
#btnText::-webkit-input-placeholder {
    text-align: left;
}
#external_email::-webkit-input-placeholder {
    text-align: left;
}
#external_smtp::-webkit-input-placeholder {
    text-align: left;
}
#external_pop3imap::-webkit-input-placeholder {
    text-align: left;
}
#search_input::-webkit-input-placeholder {
    text-align: left;
}

.mail_preview_col {
	padding-right: 0px !important;
	border: none !important;
	text-align: left !important;
	vertical-align: top !important;
	background: #ffffff !important;
	word-break: break-all;
}

.ma_cnt{color:#058df5;margin-left:12px;}

.mail_add_list{float:right;clear:both;margin:-2px 23px 0 0;width:16px;height:14px;background:url('../Images/ico/mail_add_list_s.png') no-repeat 0px 0px;}
.mail_add_list:hover{background-position:-16px 0}

.scrolldiv {
	position: absolute;
	top: 30px;
	bottom: 35px;
	left: 0;
	right: 0;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	border:solid #dcdcdc;
	border-width:0 1px 1px 1px;
}

.ellipsis200{display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:200px;}
.ellipsis250{display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:250px;}
.prf_email{cursor:pointer}



/*메일 프로필*/
#profile_pop .pop_wrap{position:absolute;z-index:3}
#profile_pop .pop_wrap .pop_foot{width:498px !important;position:relative !important;}

.mail_profile .profile_info ul li{border-bottom:1px solid #eee; padding:9px 0 6px 0;line-height:18px;min-height:18px; padding-left:26px;}
.mail_profile .profile_info .icon01{background:url("../Images/ico/profile_icon01.png") no-repeat 5px 11px;}
.mail_profile .profile_info .icon02{background:url("../Images/ico/profile_icon02.png") no-repeat 5px 10px;}
.mail_profile .profile_info .icon03{background:url("../Images/ico/profile_icon03.png") no-repeat 5px 10px;}
.mail_profile .profile_info .icon04{background:url("../Images/ico/profile_icon04.png") no-repeat 5px 10px;}
.mail_profile .profile_info .icon05{background:url("../Images/ico/profile_icon05.png") no-repeat 5px 11px;}
.mail_profile .profile_info .icon06{background:url("../Images/ico/profile_icon06.png") no-repeat 5px 11px;}


/*메일보기*/
.pop_wrap_dir.pop_wrap_mail {}
.pop_wrap_dir.pop_wrap_mail .pop_head {height:48px;background:#0b6ab2;}
.pop_wrap_dir.pop_wrap_mail .pop_head h1 {font-size:17px;color:#fff;line-height:48px;;}
.contents_wrap #mail_con_html .footer{position:relative;}

/*일정연동*/
.mail_sc_view .mail_sc_view_tit{/* height:42px; */background: #1385db;}
.mail_sc_view .mail_sc_view_tit:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mail_sc_view .mail_sc_view_tit h3{float:left;padding: 14px 0 14px 50px;color: #ffffff;background: url('../Images/ico/sub_ico_sc.png') no-repeat 10px 5px;}
input[type="button"].mail_sc_btn {padding:0 12px;background:#1385db;height:24px;color:#fff;border:1px solid #5aaae6;font-weight:normal;float:left;margin:3px 4px 0 0;}
input[type="button"]:hover.mail_sc_btn {border:1px solid #DCE1E4;background:#0876c9;}
.mail_sc_view .main_sc_con{padding:10px 15px;border:solid #eee;border-width:0 1px 1px 1px;}
.mail_sc_view .mail_sc_info{padding:10px 15px;border:solid #eee;border-width:0 1px 1px 1px;}
.mail_sc_view .mail_sc_info ul{}
.mail_sc_view .mail_sc_info ul li{padding:5px 0;line-height: 18px;min-height: 18px;padding-left: 26px;}
.mail_sc_view .mail_sc_info ul li.ico01{background:url('../Images/ico/mail_sc_ico01.png') no-repeat left 4px;}
.mail_sc_view .mail_sc_info ul li.ico02{background:url('../Images/ico/mail_sc_ico03.png') no-repeat left 4px;}
.mail_sc_view .mail_sc_info ul li.ico03{background:url('../Images/ico/mail_sc_ico04.png') no-repeat left 4px;}

/**************************************************
   mReset :: 메일 본문 스타일 초기화
**************************************************/
.mReset dl,.mReset dt,.mReset dd,.mReset ul,.mReset ol,.mReset li,.mReset h1,.mReset h2,.mReset h3,.mReset h4,.mReset h5,.mReset h6,.mReset form,.mReset fieldset,.mReset p,.mReset button,
.mReset input,.mReset select,.mReset td,.mReset th,.mReset table,.mReset pre,.mReset strong,.mReset b,.mReset i,.mReset textarea{margin:initial;padding:initial; }
.mReset h1,.mReset h2,.mReset h3,.mReset h4,.mReset h5,.mReset h6,.mReset input,.mReset button,.mReset pre,.mReset textarea,.mReset select{font-family:initial;font-size:initial;}
.mReset img,.mReset fieldset,.mReset iframe{border:;initial;}
.mReset li{list-style:initial;}
.mReset input,.mReset select,.mReset button,.mReset img{vertical-align:initial;}
.mReset i,.mReset em,.mReset address{font-style:initial;}
.mReset label,.mReset button{cursor:initial;}
.mReset button{margin:initial;padding:initial;}
.mReset button *{position:initial;}
.mReset button img{left:initial;*left:initial;}
html:first-child .mReset select{height:initial;padding-right:initial;}
.mReset option{padding-right:initial;}
.mReset textarea {resize:initial;border:initial;}
.mReset hr{display:initial;}
.mReset legend{*width:initial;}
.mReset table{border-collapse:initial;border-spacing:initial;}
.mReset map area{outline:initial}
.mReset a {text-decoration:initial;color:initial;}
.mReset input[type="button"] {cursor:initial;}
.mReset input[type="text"] {height:initial;border:initial;}
.mReset input[type="password"] {height:initial;border:initial;text-indent:initial;}

/**************************************************
   mPopReset :: 메일 본문  미리보기 스타일 초기화
**************************************************/

.mPopReset em{font-style: italic;}
.mPopReset h1{display: block;font-size: 2em;margin-top: 0.67em;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;font-weight: bold;}
.mPopReset h2{display: block;font-size: 1.5em;margin-top: 0.83em;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;font-weight: bold;}
.mPopReset h3{display: block;font-size: 1.17em;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;font-weight: bold;}
.mPopReset h4{display: block;margin-top: 1.33em;margin-bottom: 1.33em;margin-left: 0;margin-right: 0;font-weight: bold;}
.mPopReset h5{display: block;font-size: .83em;margin-top: 1.67em;margin-bottom: 1.67em;margin-left: 0;margin-right: 0;font-weight: bold;}
.mPopReset h6{display: block;font-size: .67em;margin-top: 2.33em;margin-bottom: 2.33em;margin-left: 0;margin-right: 0;font-weight: bold;}
/* 원래 주석임 .mPopReset p{display: block;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;}*/
.mPopReset strong{font-weight: bold;}
.mPopReset sub{vertical-align: sub;font-size: smaller;}
.mPopReset sup{vertical-align: super;font-size: smaller;}
.mPopReset var{font-style: italic;}
.mPopReset b{font-weight: bold;}
.mPopReset u{text-decoration: underline;}
.mPopReset i{font-style: italic;}
.mPopReset div{display: block;}
.mPopReset blockquote{display: block;margin-top: 1em;margin-bottom: 1em;margin-left: 40px;margin-right: 40px;}
.mPopReset pre{display: block;font-family: monospace;white-space: pre;margin: 1em 0;}
.mPopReset a{text-decoration:underline;}
.mPopReset address{display: block;font-style: italic;}
.mPopReset big{font-size: larger;}
.mPopReset cite{font-style: italic;}
.mPopReset code{font-family: monospace;}
.mPopReset del{text-decoration: line-through;}
.mPopReset dfn{font-style: italic;}
.mPopReset img{display: inline-block;}
.mPopReset q {display: inline;}
.mPopReset q:before {content: open-quote;}
.mPopReset q:after {content: close-quote;}
.mPopReset s{text-decoration: line-through;}
.mPopReset samp{font-family: monospace;}
.mPopReset small{font-size: smaller;}
.mPopReset ins{text-decoration: underline;}
.mPopReset strike{text-decoration: line-through;}
.mPopReset fieldset{display: block;margin-left: 2px;margin-right: 2px;padding-top: 0.35em;padding-bottom: 0.625em;padding-left: 0.75em;padding-right: 0.75em;border: 2px groove;}
.mPopReset form{display: block;margin-top: 0em;}
.mPopReset legend{display: block;padding-left: 2px;padding-right: 2px;border: none;}
.mPopReset caption{display: table-caption;text-align: center;}
.mPopReset textarea{background-color: white;border: 1px solid;border-image-source: initial;border-image-slice: initial;border-image-width: initial;border-image-outset: initial;border-image-repeat: initial;flex-direction: column;resize: auto;cursor: auto;padding: 2px;white-space: pre-wrap;word-wrap: break-word;}
.mPopReset input{margin: 0em;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
.mPopReset ol{display: block;list-style-type: decimal;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
.mPopReset ul{display: block;list-style-type: disc;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
.mPopReset li{display: list-item;list-style: inherit;text-decoration:inherit;}
.mPopReset dl{display: block;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;}
.mPopReset dt{display: block;}
.mPopReset dd{display: block;margin-left: 40px;}
.mPopReset hr{display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;}

.btn_manual_mail{color:#008ef7; background:url("../Images/ico/ico_manual.png") no-repeat; vertical-align:middle; padding-left:18px; cursor:pointer;}

/*mailMultiAddr*/
.mailMultiAddr{position:relative;display:inline-block;vertical-align: middle;}
.mailMultiAddr .addrDiv{min-height: 24px;line-height:22px;border:1px solid #c3c3c3;box-sizing:border-box;outline:none;cursor: text;}
.mailMultiAddr .addrDiv:focus{border:1px solid #3badde;}

.mailMultiAddr .addrDiv .addresObjView{position: relative;display: inline-block;min-width: 60px;margin: 1px 0;padding: 2px;color: #3badde;line-height: normal;border: 1px solid #3badde;background-color: #d9eff3;cursor: pointer;margin-left:1px;}
.mailMultiAddr .addrDiv .addresObjView .addresObjViewText{margin: 0 30px 0 0;white-space:nowrap;}
.mailMultiAddr .addrDiv .addresObjView.write .addresObjViewText{visibility:hidden}
.mailMultiAddr .addrDiv .addresObjView .btn_edit{display: block;position: absolute;top: 5px;right: 19px;width: 8px;height: 8px;background:url('../Images/btn/btn_mail_s.png') no-repeat 0 0;outline:none}
.mailMultiAddr .addrDiv .addresObjView .btn_edit:hover{background:url('../Images/btn/btn_mail_s.png') no-repeat 0 -8px;}
.mailMultiAddr .addrDiv .addresObjView .btn_del{display: block;position: absolute;top: 5px;right: 6px;width: 8px;height: 8px;background:url('../Images/btn/btn_mail_s.png') no-repeat -8px 0;outline:none}
.mailMultiAddr .addrDiv .addresObjView .btn_del:hover{background:url('../Images/btn/btn_mail_s.png') no-repeat -8px -8px;}
.mailMultiAddr .addrDiv .addresObjView .addr_input{display:none;}
.mailMultiAddr .addrDiv .addresObjView.write .addr_input{display:block;position: absolute;top: -1px;left: -1px;right: -1px;bottom: -1px;}
.mailMultiAddr .addrDiv .addresObjView.write .addr_input .editInput{width: 100%;height: 100%;text-align: left;text-indent: 4px;border: 1px solid #3badde;background-color: #ffffff;box-sizing: border-box;outline: none;}

.mailMultiAddr .addrDiv .addresObjView.error{position: relative;display: inline-block;min-width: 60px;margin: 1px 0;padding: 2px;color: #f38383;line-height: normal;border: 1px solid #f38383;background-color: #ffdcdc;cursor: pointer;margin-left:1px;}
.mailMultiAddr .addrDiv .addresObjView.error .btn_edit{display: block;position: absolute;top: 5px;right: 19px;width: 8px;height: 8px;background:url('../Images/btn/btn_mail_s.png') no-repeat -16px 0;outline:none}
.mailMultiAddr .addrDiv .addresObjView.error .btn_edit:hover{background:url('../Images/btn/btn_mail_s.png') no-repeat -16px -8px;}
.mailMultiAddr .addrDiv .addresObjView.error .btn_del{display: block;position: absolute;top: 5px;right: 6px;width: 8px;height: 8px;background:url('../Images/btn/btn_mail_s.png') no-repeat -24px 0;outline:none}
.mailMultiAddr .addrDiv .addresObjView.error .btn_del:hover{background:url('../Images/btn/btn_mail_s.png') no-repeat -24px -8px;}
.mailMultiAddr .addrDiv .addresObjView.error.write .addr_input .editInput{width: 100%;height: 100%;text-align: left;text-indent: 4px;border: 1px solid #f38383;background-color: #ffffff;box-sizing: border-box;outline: none;}

.mailMultiAddr .autoComplete{display:none;position:fixed;border:1px solid #cccccc;background:#ffffff;z-index:1;width:100%;max-height:150px;overflow-x:hidden;overflow-y:auto;}
.mailMultiAddr .autoComplete li{height:22px;line-height:22px;padding:0 12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.mailMultiAddr .autoComplete li:hover{cursor:pointer;background:#e6f4ff;}
.mailMultiAddr .autoComplete li.groupOn{background:#f5f5f5;}
.mailMultiAddr .autoComplete li.groupOn:hover{background:#f5f5f5;}
.mailMultiAddr .autoComplete li .marking{background:#fff1c0;}

/* file preview*/
/*.downfile_sel_pop{background:#fff;border:1px solid #c3c3c3;padding:5px 10px;}
.downfile_sel_pop ul li{min-width:70px;padding: 3px 0;cursor:pointer;}
.downfile_sel_pop ul li a{white-space: nowrap;}*/
#file_view{cursor:pointer;}
#file_down{cursor:pointer;}
#file_li{cursor:pointer;}
.downfile_modal ul li {cursor:pointer;}
.file_set .file_name {cursor:pointer;}
#type_thumb{cursor:pointer;}
#type_list{cursor:pointer;}
#type_detail{cursor:pointer;}
#type_alldown{cursor:pointer;}

/*보안메일*/
.pass_box {border:1px solid #dcdcdc; background:#f0f6fd; padding:15px;}
.pass_box {}
.pass_box table {width:100%;}
.pass_box table td.ico_img {text-align:center;padding:15px;}
.pass_box table td.ico_img .ico {width:80px; height:80px; background:url('../Images/ico/ico_cc_rock01.png') no-repeat;background-size:80px 80px;}
.pass_box .pass_dl {overflow:hidden;}
.pass_box .pass_dl dt {float:left;font-weight:bold;margin-right:10px;line-height:24px;}
.pass_box .pass_dl dd {float:left;}
.pass_box .pass_txt {clear:both;margin-top:10px;line-height:18px;}

.del_res_div {overflow:hidden;margin-top:15px !important;}
.del_res_div dl {width:385px; margin:0 auto}
.del_res_div dl dt {float:left; font-weight:bold;line-height:24px;}
.del_res_div dl dd {float:left;margin-left:10px;;}

.sec_mail_head {background:#f7f9fb;border-bottom:1px solid #dcdcdc;height:52px;overflow:hidden;padding:0;}
.sec_mail_head img.ico_lock {margin:11px 0 0 22px;float:left;}
.sec_mail_head .txt_lock {font-size:14px;color:#212121;line-height:52px;margin-left:10px;font-weight:bold;float:left;}


/*메일발송완료*/
.mail_link_div {margin:15px;margin-bottom:20px;overflow:hidden;}
.mail_link_div ul {}
.mail_link_div ul li:first-child {padding-left:0;}
.mail_link_div ul li {float:left;padding:0 5px;}
.mail_link_div ul li a {color:#058df5;}
.mail_link_div ul li a:hover {font-weight:bold;text-decoration:underline;}

.save_addr {margin:0 15px; padding:20px 0; border-top:1px solid #dcdcdc;}
.save_addr .sb_txt {margin:20px 0 40px 30px;}

/*메일발송완료 그리드 크기 조절*/
.mail_sc_btn::placeholder{text-align:left; padding-top:0px;font-family:Dotum,'돋움',Gulim,'굴림',sans-serif;font-size:12px;}
#addAddrGrid .PUDD-UI-GridTable .grid-content td {height:35px !important;}
#addAddrGrid .PUDD-UI-GridTable .grid-content .PUDD-UI-Button input[type='button'] {height: 24px !important; line-height: 18px; font-size: 12px;}

/*헤더팝업::공통*/
.header_pop_wrap .h_pop_box{border:1px solid #c9cac9;}


/*에디터 css초기화처리 예외*/
.tdEditor table{border-collapse: separate;}


/* 테이블 */
.com_ta table .ver {margin-right: 30px;}
.com_ta table .texta .dat {right:30px;}

/*팝업::열람자지정*/
.box_right_page {width:283px; overflow:auto; /* position:absolute; */ bottom:-46px; text-align:center;}

/**************************************************
  관리자 커스텀
**************************************************/
/*Layout CONTENTS*/
.admin #horizontal {height:100%;}
.admin .contents_wrap{margin-top:0px !important;}
.admin .contents_wrap .side_wrap{top:0px;}

.admin #sub_nav_jstree .sub_2dep_in{display:block;}
.admin .sub_2dep.on span{color:#ffffff;}
.admin .sub_2dep_in span{display:block;padding:4px 0 4px 30px;cursor:pointer;}
.admin .sub_2dep_in li:hover span{font-weight:bold;color:#058df5;}
.admin .sub_2dep_in li.on span{font-weight:bold;color:#058df5;}


/*일반 탭*/
.admin .tab_nor ul li {float:left;}
.admin .tab_nor ul li a {padding:0 16px; min-width:44px;}
.admin .tab_nor ul li.on a {color:#010101;font-weight:bold;}
.admin .tab_nor ul li.on a span {color:#058df5}
.tab_nor ul li a.mailTabP35{padding:0 35px;}
