@charset "utf-8";

.PUDD div,div.PUDD ,.PUDD dl,.PUDD dt,.PUDD dd,.PUDD ul,.PUDD ol,.PUDD li,.PUDD h1,.PUDD h2,.PUDD h3,.PUDD h4,.PUDD h5,.PUDD h6,.PUDD p,.PUDD button,.PUDD input,.PUDD select,.PUDD td,.PUDD th,.PUDD table,.PUDD pre,.PUDD strong,.PUDD b,.PUDD textarea{margin:0;padding:0;font-family:"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;font-size:12px;}
.PUDD h1,.PUDD h2,.PUDD h3,.PUDD h4,.PUDD h5,.PUDD h6,.PUDD input,.PUDD button,.PUDD pre,.PUDD textarea,.PUDD select{font-family:"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;font-size:12px;}
.PUDD img,.PUDD iframe{border:0 none}
.PUDD li{list-style:none}
.PUDD input,.PUDD select,.PUDD button{vertical-align:middle}
.PUDD img{vertical-align:top}
.PUDD label,.PUDD button{cursor:pointer}
.PUDD a {text-decoration:none;}
.PUDD button{margin:0;padding:0}
.PUDD button *{position:relative}
.PUDD button img{left:-3px;*left:auto}
.PUDD option{padding-right:6px}
.PUDD table{border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed;}

/*Text color*/
.PUDD .text_red{color:#ff0000;}
.PUDD .text_blue{color:#000fff;}
	
/*Padding, Margin*/ 
.PUDD .mr3 {margin-right:3px !important;}


/**************************************************
   sample code
**************************************************/
.devBox{padding:30px;}
.devBox h1{font-size:30px;margin:0 0 20px 0;}
.devBox .componentBox{padding:10px;border:1px solid #eaeaea;}
.devBox .componentBox p{font-size:12px;margin:0 0 10px 0;padding:5px;background:#f1f1f1;font-family:돋움체;line-height:20px;}
.devBox .componentBox pre{font-size:12px;margin:0 0 10px 0;padding:5px;background:#f1f1f1;font-family:돋움체;line-height:20px; white-space: pre-wrap;}


/**************************************************
   PUDD_tootip
**************************************************/
/*toolTip*/
.PUDD .toolTip{display:none;position:fixed;max-width:300px;padding:10px;color:#ffffff;background:#000000;z-index:100;}
.PUDD .toolTip:after{content:"";width:0px;height:0px;border-bottom: 10px solid black;border-right: 10px solid transparent;border-left: 10px solid  transparent;position: absolute;top: -8px;left: 6px;}
.PUDD input:hover + .toolTip{display:block;}


/**************************************************
   PUDD_Input
**************************************************/
/*inputField*/
.PUDD.PUDD-UI-inputField{position:relative;display:inline-block;margin-right:-4px;height:27px;}
.PUDD.PUDD-UI-inputField input{width:100%;height:inherit;padding:2px 6px 1px 6px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-inputField input[disabled]{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-inputField input[readonly]{color:#8d8d8d;}
.PUDD.PUDD-UI-inputField.PUDD-COLOR-blue input[readonly]:focus{border:1px solid #cccccc;}

.PUDD.PUDD-UI-inputField.Success input{padding: 2px 24px 1px 6px;border:1px solid #8fe1bd;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-inputField.Success svg{display:inline-block;fill:#1fc47c;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-inputField.Success .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#8fe1bd;}

.PUDD.PUDD-UI-inputField.Error input{padding: 2px 24px 1px 6px;border:1px solid #febc2c;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-inputField.Error svg{display:inline-block;fill:#febc2c;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-inputField.Error .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#febc2c;}

.PUDD.PUDD-UI-inputField.Warning input{padding: 2px 24px 1px 6px;border:1px solid #fc5356;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-inputField.Warning svg{display:inline-block;fill:#fc5356;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-inputField.Warning .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#fc5356;}

.PUDD.PUDD-UI-inputField .autoComplete{display:none;position:absolute;top:100%;left:0;right:0;border:solid #cccccc;border-width:0px 1px 1px 1px;background:#ffffff;z-index:1;max-height:150px;overflow-x:hidden;overflow-y:auto;}
.PUDD.PUDD-UI-inputField .autoComplete li{height:22px;line-height:22px;padding:0 12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.PUDD.PUDD-UI-inputField .autoComplete li:hover{cursor:pointer;background:#f5f5f5;}
.PUDD.PUDD-UI-inputField .autoComplete li.on{background:#f5f5f5;}

/*passwordField*/
.PUDD.PUDD-UI-passwordField{position:relative;display:inline-block;margin-right:-4px;height:27px;}
.PUDD.PUDD-UI-passwordField input{width:100%;height:inherit;padding: 2px 24px 1px 6px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-passwordField input[disabled]{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-passwordField svg{display:inline-block;fill:#4b4b4b;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}

.PUDD.PUDD-UI-passwordField.Success input{padding: 2px 24px 1px 6px;border:1px solid #8fe1bd;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-passwordField.Success svg{display:inline-block;fill:#1fc47c;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-passwordField.Success .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#8fe1bd;}

.PUDD.PUDD-UI-passwordField.Error input{padding: 2px 24px 1px 6px;border:1px solid #febc2c;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-passwordField.Error svg{display:inline-block;fill:#febc2c;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-passwordField.Error .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#febc2c;}

.PUDD.PUDD-UI-passwordField.Warning input{padding: 2px 24px 1px 6px;border:1px solid #fc5356;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-passwordField.Warning svg{display:inline-block;fill:#fc5356;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-passwordField.Warning .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#fc5356;}

/*searchField*/
.PUDD.PUDD-UI-searchField{position:relative;display:inline-block;margin-right:-4px;height:27px;}
.PUDD.PUDD-UI-searchField input{width:100%;height:inherit;padding: 2px 24px 1px 6px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-searchField input[disabled]{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}

.PUDD.PUDD-UI-searchField .btn{position:absolute;width:27px;height:27px;top:0;right:0;}
.PUDD.PUDD-UI-searchField svg{display:inline-block;height:14px;width:14px;user-select:none;pointer-events:none;position:absolute;top:50%;right:6px;margin:-7px 0 0 0;}
.PUDD.PUDD-UI-searchField .btn:hover svg{fill:#4b4b4b;}
.PUDD.PUDD-UI-searchField input[disabled] + svg{fill:#4b4b4b;}

.PUDD.PUDD-UI-searchField .autoComplete{display:none;position:absolute;top:100%;left:0;right:0;border:solid #cccccc;border-width:0px 1px 1px 1px;background:#ffffff;z-index:1;max-height:150px;overflow-x:hidden;overflow-y:auto;}
.PUDD.PUDD-UI-searchField .autoComplete li{height:22px;line-height:22px;padding:0 12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.PUDD.PUDD-UI-searchField .autoComplete li:hover{cursor:pointer;background:#f5f5f5;}
.PUDD.PUDD-UI-searchField .autoComplete li.on{background:#f5f5f5;}

/*theme class*/
.PUDD.PUDD-UI-inputField.PUDD-COLOR-blue input:focus{border:1px solid #2196f3;}
.PUDD.PUDD-UI-passwordField.PUDD-COLOR-blue input:focus{border:1px solid #2196f3;}
.PUDD.PUDD-UI-searchField.PUDD-COLOR-blue input:focus{border:1px solid #2196f3;}
.PUDD.PUDD-UI-searchField.PUDD-COLOR-blue svg{fill:#1c90fb;}
.PUDD.PUDD-UI-fileField.PUDD-COLOR-blue input:focus{border:1px solid #2196f3;}


/**************************************************
   PUDD_Checkbox / Radio
**************************************************/
.PUDD.PUDD-UI-ChkRadi input[type="checkbox"] {position: absolute; z-index: -10; visibility:hidden;height:14px; width:14px;}
.PUDD.PUDD-UI-ChkRadi {overflow: hidden; position: relative; display: inline-block; cursor: pointer; vertical-align: top;user-select: none; margin-right: 10px; outline: none;margin-top:-2px;}
.PUDD.PUDD-UI-ChkRadi svg{top:50%;margin-top:-7.5px;display: inline-block; fill: rgb(0, 0, 0); user-select: none; position: absolute; left: 0px; z-index: 10; cursor: pointer;}
.PUDD.PUDD-UI-ChkRadi svg {}
.PUDD.PUDD-UI-ChkRadi label {display: inline-block; user-select: none;}
.PUDD.PUDD-UI-ONLY.PUDD-UI-ChkRadi {margin-right:0px;}
.PUDD.PUDD-SET-ChkRadi {display:inline-block;}
.PUDD.PUDD-SET-ChkRadi.PUDD-UI-Vertical {}
.PUDD.PUDD-SET-ChkRadi.PUDD-UI-Vertical > div {clear:both;display: block;}
.PUDD.PUDD-UI-ChkRadi polygon {display:none;}
.PUDD.PUDD-UI-ChkRadi rect {display:none;}
.PUDD.PUDD-UI-ChkRadi circle {display:none;}
.PUDD.PUDD-UI-ChkRadi.UI-ON polygon {display:inline;}
.PUDD.PUDD-UI-ChkRadi.UI-ON rect {display:inline;}
.PUDD.PUDD-UI-ChkRadi.UI-ON circle {display:inline;}
.PUDD.PUDD-UI-ChkRadi.UI-Disa label {cursor: not-allowed;}
.PUDD.PUDD-UI-ChkRadi.UI-Disa svg {cursor: not-allowed;}
.PUDD.PUDD-UI-ChkRadi label {padding-left:20px;margin-top:2px;}
.PUDD.PUDD-UI-ChkRadi.PUDD-UI-ONLY label {padding-left:14px;}

.PUDD.PUDD-UI-Vertical .PUDD-UI-ChkRadi {margin-bottom:5px;}
.PUDD.PUDD-UI-Horizon .PUDD-UI-ChkRadi {margin-right:10px;}
.PUDD.PUDD-UI-ChkRadi input[type="radio"] {position: absolute; z-index: -10; visibility:hidden;height:14px; width:14px;}
.PUDD.PUDD-UI-ChkRadi input[type="radio"] {position: absolute; z-index: -10; visibility:hidden;height:14px; width:14px;}
.PUDD.PUDD-UI-ChkRadi input[type="radio"] {position: absolute; z-index: -10; visibility:hidden;height:14px; width:14px;}

.PUDD.PUDD-UI-ChkRadi svg {height:14px; width:14px;}
.PUDD.PUDD-UI-radio.PUDD-UI-ChkRadi svg {background:none !important;}

@media screen and (-webkit-min-device-pixel-ratio:0){.PUDD.PUDD-UI-ChkRadi svg{margin-top:-7px;} .PUDD.PUDD-UI-ChkRadi {margin-top:0px;} .PUDD.PUDD-UI-ChkRadi label {margin-top:0px;} }/*크롬 조정*/

/*체크,라디오공통 색*/
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi svg path{fill:#B5B4B4;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi svg polygon {fill:#2A93F7;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi svg rect {fill:#2A93F7;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi svg circle {fill:#2A93F7;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Disa svg path{fill:#B5B4B4;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Disa svg g path {fill:#EEEEEC;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Disa svg polygon {fill:#C4C3C3;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Disa svg rect {fill:#C4C3C3;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Disa svg circle {fill:#C4C3C3;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Dash.UI-Disa svg g > path{fill:#B5B4B4}
.PUDD.PUDD-COLOR-blue.PUDD-UI-ChkRadi.UI-Dash.UI-Disa svg g > g > path{fill:#EEEEEC}

.PUDD.PUDD-COLOR-yellow.PUDD-UI-ChkRadi svg {background-color:#FEBC2C;}
.PUDD.PUDD-COLOR-yellow.PUDD-UI-ChkRadi svg path{fill:#FEBC2C;}
.PUDD.PUDD-COLOR-yellow.PUDD-UI-ChkRadi svg polygon {fill:#fff;}
.PUDD.PUDD-COLOR-yellow.PUDD-UI-ChkRadi svg rect {fill:#fff;}
.PUDD.PUDD-COLOR-yellow.PUDD-UI-ChkRadi svg circle {fill:#FD9656;}

.PUDD.PUDD-COLOR-green.PUDD-UI-ChkRadi svg {background-color:#1FC47C;}
.PUDD.PUDD-COLOR-green.PUDD-UI-ChkRadi svg path{fill:#1FC47C;}
.PUDD.PUDD-COLOR-green.PUDD-UI-ChkRadi svg polygon {fill:#fff;}
.PUDD.PUDD-COLOR-green.PUDD-UI-ChkRadi svg rect {fill:#fff;}
.PUDD.PUDD-COLOR-green.PUDD-UI-ChkRadi svg circle{fill:#1FC47C;}

.PUDD.PUDD-COLOR-strongblue.PUDD-UI-ChkRadi svg {background-color:#2A93F7;}
.PUDD.PUDD-COLOR-strongblue.PUDD-UI-ChkRadi svg path{fill:#2A93F7;}
.PUDD.PUDD-COLOR-strongblue.PUDD-UI-ChkRadi svg polygon {fill:#fff;}
.PUDD.PUDD-COLOR-strongblue.PUDD-UI-ChkRadi svg rect {fill:#fff;}
.PUDD.PUDD-COLOR-strongblue.PUDD-UI-ChkRadi svg circle{fill:#2A93F7;}

/**************************************************
   PUDD_Button
**************************************************/
/*icon 호출*/
.PUDD .ico.ico_search{background: url('../Images/ico/ico_file.png') no-repeat; background-position:center; background-size:12px 13px;}
.PUDD input[disabled].ico.ico_search{background:#f2f2f2 url('../Images/ico/ico_file.png') no-repeat; background-size:12px 13px;}

/*default Button*/
.PUDD input[type="button"]{cursor:pointer;}
.PUDD input[type="button"]:hover{border:1px solid #8c8c8c;}

.PUDD.PUDD-UI-Button{position:relative; display:inline-block; margin-right:-4px; height: 27px;}
.PUDD.PUDD-UI-Buttoninput{background:#fff; padding: 1px 10px; border: 1px solid #d3d3d3; border-image: none; width: 100%; height:100%; color:#4a4a4a; font-size: 12px; text-decoration: none; vertical-align: top; display: inline-block; position: relative; cursor: pointer; box-sizing: border-box;}
.PUDD.PUDD-UI-Buttoninput[disabled]{background:#f2f2f2; border: 1px solid #e0e0e0; color:#8d8d8d;}

/*iconSvg Button*/
.PUDD.PUDD-UI-iconSvgButton{position:relative; display:inline-block; margin-right:-4px; width:27px; height:27px;}
.PUDD.PUDD-UI-iconSvgButton input{width:100%; height:100%; padding:10px; border:1px solid #d3d3d3;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box; cursor: pointer;}
.PUDD.PUDD-UI-iconSvgButton input:hover{border:1px solid #d3d3d3;}
.PUDD.PUDD-UI-iconSvgButton svg{display:inline-block;fill:#000000;position:absolute;top:0px;right:0px; width:80%; height:80%; left:50%; top:50%; margin-top:-40%; margin-left:-40%; pointer-events:none;}

/*iconImg Button*/
.PUDD.PUDD-UI-iconImgButton{position:relative; display:inline-block; margin-right:-4px; width:27px; height:27px;}
.PUDD.PUDD-UI-iconImgButton input{width:100%; height:100%; border:1px solid #d3d3d3;background:#ffffff;box-sizing:border-box; cursor: pointer;}
.PUDD.PUDD-UI-iconImgButton input:hover{border:1px solid #d3d3d3;}

/*iconSvg+text Button*/
.PUDD.PUDD-UI-iconSvgtextButton {position:relative; display:inline-block; margin-right:-4px; height:27px;}
.PUDD.PUDD-UI-iconSvgtextButton input{width:100%; height: 100%; border: 1px solid #d3d3d3; background:#fff; border-image: none; color:#4a4a4a; letter-spacing: -0.5px; font-size: 12px; text-decoration: none; vertical-align: top; display: inline-block; position: relative; cursor: pointer; box-sizing: border-box;}
.PUDD.PUDD-UI-iconSvgtextButton input[disabled]{background:#f2f2f2; border: 1px solid #e0e0e0; color:#8d8d8d;}	
.PUDD.PUDD-UI-iconSvgtextButton svg{display:inline-block;fill:#000000;position:absolute;top:0px;right:0px;vertical-align:top; z-index:10;}
.PUDD.PUDD-UI-iconSvgtextButton .svgR_box{margin: -10px 5px 0px 0px; top: 50%; width: 18px; height: 18px; right: 0px; vertical-align: middle; float: right; position: absolute;}
.PUDD.PUDD-UI-iconSvgtextButton .svgL_box{margin: -10px 0px 0px 5px; top: 50%; width: 18px; height: 18px; left: 0px; vertical-align: middle; float: left; position: absolute;}
.PUDD.PUDD-UI-iconSvgtextButton .ico_al{padding: 0px 10px 0px 25px;}	
.PUDD.PUDD-UI-iconSvgtextButton .ico_ar{padding: 0px 25px 0px 10px;}	

/*iconImg+text Button*/
.PUDD.PUDD-UI-iconImgtextButton {position:relative; display:inline-block; margin-right:-4px; height:27px;}
.PUDD.PUDD-UI-iconImgtextButton input{width:100%; height: 100%; border: 1px solid #d3d3d3; background:#fff; border-image: none; color:#4a4a4a; letter-spacing: -0.5px; font-size: 12px; text-decoration: none; vertical-align: top; display: inline-block; position: relative; cursor: pointer; box-sizing: border-box;}
.PUDD.PUDD-UI-iconImgtextButton input[disabled]{background:#f2f2f2; border: 1px solid #e0e0e0; color:#8d8d8d;}
.PUDD.PUDD-UI-iconImgtextButton .ico_ar{background-position:right 5px center !important; padding: 0px 22px 0px 10px;}
.PUDD.PUDD-UI-iconImgtextButton .ico_al{background-position:left 5px center; padding: 0px 10px 0px 22px;}

/*theme Button*/
.PUDD.PUDD-UI-Button.PUDD-COLOR-blue input.submit{background:#1c90fb; border: 1px solid #1c90fb; color:#fff;}
.PUDD.PUDD-UI-Button.PUDD-COLOR-blue input.submit:hover{background:#006dd2;}
/* .PUDD.PUDD-UI-Button.PUDD-COLOR-blue .PUDD.PUDD-UI-iconSvgButton:hover svg{fill:#1c90fb;} */


/**************************************************
   PUDD_Textarea
**************************************************/
.PUDD.PUDD-UI-textArea{position:relative;display:inline-block;margin-right:-4px}
.PUDD.PUDD-UI-textArea textarea{width:100%;height:100%;padding:5px 17px 5px 5px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;resize:none;}
.PUDD.PUDD-UI-textArea textarea[disabled]{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-textArea textarea[readonly]{color:#8d8d8d;}
.PUDD.PUDD-UI-textArea.PUDD-COLOR-blue textarea[readonly]:focus{border:1px solid #cccccc;}

.PUDD.PUDD-UI-textArea.Success textarea{border:1px solid #8fe1bd;}
.PUDD.PUDD-UI-textArea.Success .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#8fe1bd;}

.PUDD.PUDD-UI-textArea.Error textarea{border:1px solid #febc2c;}
.PUDD.PUDD-UI-textArea.Error .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#febc2c;}

.PUDD.PUDD-UI-textArea.Warning textarea{border:1px solid #fc5356;}
.PUDD.PUDD-UI-textArea.Warning .informationText{margin:5px 0px 0px 5px;font-size:12px;color:#fc5356;}

.PUDD.PUDD-UI-textArea .hintText{position: absolute;top: 6px;left: 6px;font-size: inherit;font-family: inherit;color: #cccccc;pointer-events:none;}

/*theme class*/
.PUDD.PUDD-UI-textArea.PUDD-COLOR-blue textarea:focus{border:1px solid #2196f3;}


/**************************************************
   PUDD_Select
**************************************************/
/*select*/
.PUDD.PUDD-UI-selectBox{position:relative;display:inline-block;margin-right:-4px;height:27px;}
.PUDD.PUDD-UI-selectBox .hiddenSelect{overflow:hidden;position:absolute;top:-10000px;left:-10000px;width:1px;height:1px}

.PUDD.PUDD-UI-selectBox .selectField{width:100%;height:inherit;padding: 6px 33px 1px 6px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;cursor: pointer;}
.PUDD.PUDD-UI-selectBox .selectField .selectText{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;pointer-events: none;}
.PUDD.PUDD-UI-selectBox .selectField.disabled{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-selectBox .selectField.disabled:focus{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}

.PUDD.PUDD-UI-selectBox .selectFieldBtn{position:absolute;width:27px;height:27px;top:0;right:0;padding: 0px;border: 0px none;text-align: center;vertical-align: top;background: transparent;box-sizing: border-box;outline: none;pointer-events: none;}
.PUDD.PUDD-UI-selectBox .selectFieldBtn .arr{display: inline-block;overflow: hidden;background: url('../Images/ico/sp_lux.png') -50px -50px no-repeat;line-height: 100em;vertical-align: middle;width: 8px;height: 4px;text-align: center;animation: spinDown 0.3s both cubic-bezier(0, 0, 0.2, 1);}

.PUDD.PUDD-UI-selectBox .selectField:hover .selectFieldBtn{border:solid #cccccc;border-width:0 0 0 1px;}
.PUDD.PUDD-UI-selectBox .selectField:focus .arr{animation: spinUp 0.3s both cubic-bezier(0, 0, 0.2, 1);}
.PUDD.PUDD-UI-selectBox .selectField.on .arr{animation: spinUp 0.3s both cubic-bezier(0, 0, 0.2, 1);}

.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField.disabled:focus{border:1px solid #cccccc;}
.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField.disabled:focus .selectFieldBtn .arr{animation:unset;}
.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField.disabled:hover .selectFieldBtn{border:none;}
.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField.disabled .selectFieldBtn .arr{animation:unset;}

.PUDD.PUDD-UI-selectBox .cloneList{display:none;position:absolute;top:100%;left:0;right:0;border:1px solid #cccccc;background:#ffffff;z-index:1;max-height:150px;overflow-x:hidden;overflow-y:auto;}
.PUDD.PUDD-UI-selectBox .cloneList li{height:22px;line-height:22px;padding:0 6px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.PUDD.PUDD-UI-selectBox .cloneList li:hover{cursor:pointer;background:#f5f5f5;}
.PUDD.PUDD-UI-selectBox .cloneList li.on{background:#f5f5f5;}

/*multiselect*/
.PUDD.PUDD-UI-multiSelectBox{position:relative;display:inline-block;margin-right:-4px;min-height:27px;min-width:150px;vertical-align:top;}
.PUDD.PUDD-UI-multiSelectBox .hiddenSelect{overflow:hidden;position:absolute;top:-10000px;left:-10000px;width:1px;height:1px}

.PUDD.PUDD-UI-multiSelectBox .selectField{width:100%;min-height:27px;height:100%;padding: 1px 33px 1px 2px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;cursor: pointer;}
.PUDD.PUDD-UI-multiSelectBox .selectField .multiBox{height:inherit;overflow:hidden;}
.PUDD.PUDD-UI-multiSelectBox .selectField .multiBox:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.PUDD.PUDD-UI-multiSelectBox .selectField .multiBox li{float:left;clear:none;margin:1px;padding: 3px 2px 2px 2px;border:1px solid #accfff;background-color:#eff7ff;color:#4a4a4a;box-sizing: border-box;}
.PUDD.PUDD-UI-multiSelectBox .selectField .multiBox .del_btn{display:inline-block;width:7px;height:7px;margin: 1px 3px 0 5px;background:url('../Images/ico/sp_lux.png') -143px -278px no-repeat;}
.PUDD.PUDD-UI-multiSelectBox .selectField .multiBox .del_btn:hover{margin:1px 2px 0 4px;border:1px solid #accfff;}

.PUDD.PUDD-UI-multiSelectBox .selectField.disabled{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-multiSelectBox .selectField.disabled:focus{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-multiSelectBox .selectField.disabled .multiBox li{float:left;clear:none;margin:1px;padding: 3px 2px 2px 2px;border:1px solid #cccccc;background:#f3f3f3;color:#8d8d8d;box-sizing: border-box;}
.PUDD.PUDD-UI-multiSelectBox .selectField.disabled .multiBox .del_btn{pointer-events: none;}

.PUDD.PUDD-UI-multiSelectBox .selectFieldBtn{position:absolute;width:27px;height:inherit;top:0;right:0;padding: 0px;border: 0px none;text-align: center;vertical-align: top;background: transparent;box-sizing: border-box;outline: none;pointer-events: none;}
.PUDD.PUDD-UI-multiSelectBox .selectFieldBtn .arr{display: inline-block;overflow: hidden;background: url('../Images/ico/sp_lux.png') -50px -50px no-repeat;line-height: 100em;vertical-align: middle;width: 8px;height: 4px;text-align: center;animation: spinDown 0.3s both cubic-bezier(0, 0, 0.2, 1);}

.PUDD.PUDD-UI-multiSelectBox .selectField:hover .selectFieldBtn{border:solid #cccccc;border-width:0 0 0 1px;}
.PUDD.PUDD-UI-multiSelectBox .selectField:focus .arr{animation: spinUp 0.3s both cubic-bezier(0, 0, 0.2, 1);}
.PUDD.PUDD-UI-multiSelectBox .selectField.on .arr{animation: spinUp 0.3s both cubic-bezier(0, 0, 0.2, 1);}

.PUDD.PUDD-UI-multiSelectBox .selectField.scroll{overflow:auto;}
.PUDD.PUDD-UI-multiSelectBox .selectField.scroll .multiBox{overflow:visible;}
.PUDD.PUDD-UI-multiSelectBox .selectField.scroll .selectFieldBtn{display:none;}

.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField.disabled:focus{border:1px solid #cccccc;}
.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField.disabled:focus .selectFieldBtn .arr{animation:unset;}
.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField.disabled:hover .selectFieldBtn{border:none;}
.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField.disabled .selectFieldBtn .arr{animation:unset;}

.PUDD.PUDD-UI-multiSelectBox .cloneList{display:none;position:absolute;top:100%;left:0;right:0;border:1px solid #cccccc;background:#ffffff;z-index:1;max-height:150px;overflow-x:hidden;overflow-y:auto;}
.PUDD.PUDD-UI-multiSelectBox .cloneList li{height:22px;line-height:22px;padding:0 6px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.PUDD.PUDD-UI-multiSelectBox .cloneList li:hover{cursor:pointer;background:#f5f5f5;}
.PUDD.PUDD-UI-multiSelectBox .cloneList li.on{background:#f5f5f5;}

@keyframes spinDown {0%{transform: rotate(-180deg);}}
@keyframes spinUp {100%{transform: rotate(180deg);}}

/*theme class*/
.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField:focus{border:1px solid #2196f3;}
.PUDD.PUDD-UI-selectBox.PUDD-COLOR-blue .selectField:focus .selectFieldBtn{border:solid #2196f3;border-width:0 0 0 1px;}
.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField:focus{border:1px solid #2196f3;}
.PUDD.PUDD-UI-multiSelectBox.PUDD-COLOR-blue .selectField:focus .selectFieldBtn{border:solid #2196f3;border-width:0 0 0 1px;}


/**************************************************
   PUDD_file
**************************************************/

/*fileField*/
.PUDD.PUDD-UI-fileField{position:relative;display:inline-block;margin-right:-4px;overflow:hidden;}
.PUDD.PUDD-UI-fileField input.hiddenField{overflow:hidden;position:absolute;top:-10000px;left:-10000px;width:1px;height:1px}
.PUDD.PUDD-UI-fileField input.cloneField{min-width:140px;width:100%;float:left;height:inherit;min-height:27px;padding: 0px 6px;border:1px solid #cccccc;font-size:12px;background:#ffffff;outline:none;box-sizing:border-box;}
.PUDD.PUDD-UI-fileField input.cloneField[disabled]{color:#8d8d8d;background:#f3f3f3;cursor:not-allowed;}
.PUDD.PUDD-UI-fileField .btn_file {float:left;margin-left:4px;margin-right:4px;}
.PUDD.PUDD-UI-fileField.PUDD-COLOR-blue input.cloneField[readonly]:focus{border:1px solid #cccccc;}

.PUDD.PUDD .File_topbox {padding-bottom:7px;;}
.PUDD.PUDD-UI-fileField .btn_file{background:#fff;padding: 0px 10px;height:27px;line-height:27px;border: 1px solid #d3d3d3;border-image: none;color:#4a4a4a;letter-spacing: -0.5px;font-size: 12px;text-decoration: none;vertical-align: middle;display: inline-block;cursor: pointer;box-sizing: border-box;}
.PUDD.PUDD-UI-fileField .btn_file:hover{border:1px solid #8c8c8c;}
.PUDD.PUDD-UI-fileField .btn_total {background:#fff url("../Images/ico/btn_down01png.png") no-repeat;background-size: 14px 13px;   background-position: left 6px center;;padding: 0px 10px;padding-left:26px;height:27px;line-height:27px;border: 1px solid #d3d3d3;border-image: none;color:#4a4a4a;letter-spacing: -0.5px;font-size: 12px;text-decoration: none;vertical-align: middle;display: inline-block;cursor: pointer;box-sizing: border-box;}
.PUDD.PUDD-UI-fileField .btn_total:hover{border:1px solid #8c8c8c;}
.PUDD.PUDD-UI-fileField.UI-Union .btn_file {margin-left:-1px;}
.PUDD.PUDD .File_topbox .btn_file{ margin-left:0px;}


/**************************************************
   PUDD_GridTable, pager
**************************************************/
/* Table icon */
.PUDD.PUDD-UI-GridTable .ico_new{vertical-align:middle; margin:-2px 5px 0 0;}

/* Table Align + padding */
.PUDD .ta_le {text-align:left !important; padding-left:5px;}
.PUDD .ta_cen {text-align:center !important;}
.PUDD .ta_ri {text-align:right !important; padding-right:5px;}

/* Paging */
.PUDD.PUDD-UI-pager {padding:15px; position:relative;text-align:center;}
.PUDD.PUDD-UI-pager .paging {margin-top:4px;margin-right:10px;display:inline-block}
.PUDD.PUDD-UI-pager .gt_count{display:inline-block;}
.PUDD.PUDD-UI-pager .paging {text-align:center;clear:both;}
.PUDD.PUDD-UI-pager .paging span {display:inline-block; text-indent:-5000px; width:15px; height:15px; line-height:21px; border:1px solid #cccccc; vertical-align:middle; margin-top:-2px;}
.PUDD.PUDD-UI-pager .paging span:hover {border:1px solid #1088e3;}
.PUDD.PUDD-UI-pager .paging .first{background: url("../Images/ico/btn_page_first.png") center center no-repeat;}
.PUDD.PUDD-UI-pager .paging .pre{background: url("../Images/ico/btn_page_pre.png") center center no-repeat;}
.PUDD.PUDD-UI-pager .paging .last{background: url("../Images/ico/btn_page_last.png") center center no-repeat;}
.PUDD.PUDD-UI-pager .paging .nex{background: url("../Images/ico/btn_page_next.png") center center no-repeat;}
.PUDD.PUDD-UI-pager .paging .pre_pre a, 
.PUDD.PUDD-UI-pager .paging .pre a, 
.PUDD.PUDD-UI-pager .paging .nex_nex a, 
.PUDD.PUDD-UI-pager .paging .nex a {display:block;}

.PUDD.PUDD-UI-pager .paging ol {display:inline-block;margin:0 5px; height:14px; line-height:20px;}
.PUDD.PUDD-UI-pager .paging ol li {float:left; display:inline-block;text-align:center;background:#fff;}
.PUDD.PUDD-UI-pager .paging ol li a {display:inline-block;text-align:center; min-width:16px; color:#4a4a4a;background:#fff;}
.PUDD.PUDD-UI-pager .paging ol li a:hover {background:#1c90fb; color:#fff;}
.PUDD.PUDD-UI-pager .paging ol li.on a {color:#058df5; font-weight:bold;}
	
/* GridTable */
.PUDD.PUDD-UI-GridTable{position:relative; width:100%; overflow:hidden; border-top:2px solid #000;}
.PUDD.PUDD-UI-GridTable .grid-header{background:#f0f0f0; border:1px solid #e1e1e1;}
.PUDD.PUDD-UI-GridTable .grid-header thead th{height:30px; border-right:1px solid #e1e1e1;}
.PUDD.PUDD-UI-GridTable .grid-header thead th:last-child{border-right:none !important;}
.PUDD.PUDD-UI-GridTable .grid-content{background:#fafafa; border-width:0px 1px 1px 1px; border-style:solid; border-color:#e1e1e1;}
.PUDD.PUDD-UI-GridTable .grid-content tbody td{background:#fff; height:27px; line-height:16px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; word-break: break-all; text-align:center;}
.PUDD.PUDD-UI-GridTable .grid-content tbody td:last-child{border-right:1px solid #fff !important;}
.PUDD.PUDD-UI-GridTable .grid-content tr.on td{background:#f2f7ff;}
.PUDD.PUDD-UI-GridTable .grid-content tr:hover td{background:#f2f7ff;}
.PUDD.PUDD-UI-GridTable .grid-content tr:last-child td{border-bottom:none;}
		
.PUDD.PUDD-UI-GridTable.scrollable .grid-header thead th:last-child{border-right:1px solid #e1e1e1 !important;}
.PUDD.PUDD-UI-GridTable.scrollable .grid-header{padding-right:17px;}
.PUDD.PUDD-UI-GridTable.scrollable .grid-content{overflow-y:scroll; overflow-x:hidden;}
.PUDD.PUDD-UI-GridTable.scrollable .grid-content.HeiStyle tr:last-child td{border-bottom:1px solid #e1e1e1;}

/*GridTable checkbox style */
.PUDD.PUDD-UI-GridTable input[type="checkbox"]{margin-left:1px;vertical-align: middle; visibility:hidden;}
.PUDD.PUDD-UI-GridTable input[type="checkbox"]:before{padding-right:10px;}
.PUDD.PUDD-UI-GridTable input[type="checkbox"] + label {margin-left:-19px;display: inline-block;min-height:12px;height:auto;background: url("../Images/ico/checkbox_bg.png") no-repeat left center; padding: 2px 0 0px 14px;overflow: hidden;vertical-align: middle;text-indent:4px;}
.PUDD.PUDD-UI-GridTable input[type="checkbox"]:checked + label{background: url("../Images/ico/checkbox_black.png") no-repeat left center;}
.PUDD.PUDD-UI-GridTable input[type="checkbox"]:disabled + label{background: url("../Images/ico/checkbox_disa.png") no-repeat left center;}

/* radio style */
.PUDD.PUDD-UI-GridTable input[type="radio"]{margin-top:1px;margin-left:1px;vertical-align: middle; visibility:hidden;}
.PUDD.PUDD-UI-GridTable input[type="radio"] + label {margin-left:-17px !important;display: inline-block;min-height:11px;height:auto;background: url("../Images/ico/radio_bg.png") no-repeat left center;padding: 3px 0 2px 16px !important;overflow: hidden;vertical-align: middle;text-indent:4px;}
.PUDD.PUDD-UI-GridTable input[type="radio"]:checked + label{background: url("../Images/ico/radio_black.png") no-repeat left center;}
.PUDD.PUDD-UI-GridTable input[type="radio"]:disabled + label{background: url("../Images/ico/radio_disa.png") no-repeat left center;}
.PUDD.PUDD-UI-GridTable input[type=radio] + label.k-radio-label {margin-left:0px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {input[type="radio"] + label {min-height:12px;padding: 2px 0 2px 16px !important;}}

.PUDD.PUDD-COLOR-blue.PUDD-UI-GridTable input[type="checkbox"]:checked + label{background: url("../Images/ico/checkbox_blue.png") no-repeat left center;}
.PUDD.PUDD-COLOR-blue.PUDD-UI-GridTable input[type="radio"]:checked + label{background: url("../Images/ico/radio_blue.png") no-repeat left center;}

.PUDD.PUDD-UI-pager {}
.PUDD.PUDD-UI-pager select {border:1px solid #c3c3c3;margin-top:-2px;}
.PUDD.PUDD-UI-pager select {height:22px;border:1px solid #c3c3c3;padding-left:5px;padding-right:18px;color:#515967; -webkit-appearance: none;  /* 네이티브 외형 감추기 */
			-moz-appearance: none;appearance: none;background:#fff url("../Images/ico/select_arr01.png") right 4px center no-repeat;;}
.PUDD.PUDD-UI-pager select{padding-right:0px \0/IE8+9;;}
.PUDD.PUDD-UI-pager select::-ms-expand {display: none;}
.PUDD.PUDD-UI-pager select + option {background:#fff;height:30px;}
